body {

}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
  #header{background:LightPink;
    grid-column: 1 / 4;
}
  #d1{background:LightSkyBlue;}
  #d2{background:LightSalmon;}
  #d3{background:PaleTurquoise;}

#main {
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-gap: 0px 10px;
}